{% extends "base.html" %}
{% block head %}
    {% block title %}{% endblock %}
    {{super()}}
{% endblock %}
{% block content %}
<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Page Not Found</h2>
                            <p><a href="#">Come Home</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{super()}}
{% endblock %}