{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {% block title %}{% endblock %}
    {{super()}}
    <title>Tasnm || Checkout</title>
       <!-- pages-title-start -->
        <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Оформление заказа</h2>
                            <p><a href="#">Главная</a> | Оформление заказа</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pages-title-end -->
{% endblock %}
{% block content %}
{% block page_content %}{% endblock %}
		<!-- checkout content section start -->
        <div class="checkout-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="text">
                            <!-- Tab panes -->
                            <div class="tab-content">           
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="top-check-text">
                                                <div class="check-down">
                                                    <h3 class="checkbox9">ИНФОРМАЦИЯ О СПОСОБАХ ДОСТАВКИ И ОПЛАТЫ</h3>
                                                </div>
                                            </div>
                                            <form class="all-payment" id ="payment" method="post">

                                                {{ form2.csrf_token() }}
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form2.deliverychoice.label() }}
                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form2.deliverychoice() }}
                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form2.paymentchoice.label() }}
                                                    </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form2.paymentchoice() }}
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form2.submit() }}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile" name="profile">
                                    <div class="row">
                                        <div class="checkbox-form">
                                            <div class="col-md-12">
                                                <h3 class="checkbox9">SHIPPING ADDRESS DETAILS</h3>
                                                {{ wtf.quick_form(form1) }}
                                                <div class="form-row place-order">
                                                    <a href="#home" aria-controls="profile" role="tab" data-toggle="tab">Назад</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="message">
                                    <div class="last-check">
                                        <h3 class="checkbox9">complete</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="ro-checkout-summary">
                            <div class="ro-title">
                                <h3 class="checkbox9">Заказ</h3>
                            </div>
                            <div class="ro-body">
                                {% for item in products %}
                                <div class="ro-item">
                                    <div class="ro-image">
                                        <a href="{{url_for('main.product', id = item)}}">
                                            <img src="{{url_for('static', filename='img/products/c15.jpg')}}" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <div class="tb-beg">
                                            <a href="{{url_for('main.product', id = item)}}">{{ products.get(item)[0] }}</a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="ro-price">
                                            <span class="amount">{{ products.get(item)[1] }}₽</span>
                                        </div>
                                        <div class="ro-quantity">
                                            <strong class="product-quantity">× {{ products.get(item)[2] }}</strong>
                                        </div>
                                        <div class="product-total">
                                            <span class="amount">= {{ products.get(item)[1]*products.get(item)[2] }}₽</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="ro-footer">
                                <div>
                                    <p>
                                        Подытог
                                        <span>
                                            <span class="amount">{{ subtotal }}₽</span>
                                        </span>
                                    </p>
                                    <div class="ro-divide"></div>
                                </div>
                                <div class="shipping">
                                    <p> Доставка: </p>
                                    <div class="ro-shipping-method">
                                        <p>
                                            Shipping Local Pickup (Free)
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="ro-divide"></div>
                                </div>
                                <div>
                                    <p>
                                        Общая сумма: 
                                        <span>
                                            <strong>
                                                <span class="amount">{{ subtotal }}₽</span>
                                            </strong>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- checkout  content section end -->
            {{super()}}
{% endblock %}