{% extends "base.html" %}
{% block head %}
    {% block title %}{% endblock %}
    {{super()}}
        <title>Tasnm || Shopping-Cart</title>
        <!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Корзина</h2>
                            <p><a href="{{url_for('main.index')}}">Главная</a> | Корзина</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
{% endblock %}
{% block content %}
    {% block page_content %}{% endblock %}
		<!-- shopping-cart content section start -->
        <div class="shopping-cart-area s-cart-area">
            <div class="container">
                {% if not cart %}
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="s-cart-all">
                            <h3>Ваша корзина пуста!</h3>
                            <strong>Вы ещё ничего не приобрели. Перейдите в магазин чтобы оценить наше разнообразие товаров.</strong>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="s-cart-all">
                            <div class="cart-form table-responsive">
                                <table id="shopping-cart-table" class="data-table cart-table">
                                    <tr>
                                        <th class="low1">Товар</th>
                                        <th class="low7">Размер и количество</th>
                                        <th class="low7">Цена за 1 шт.</th>
                                        <th class="low7">Общая стоимость</th>
                                        <th class="low7">Отмена</th>
                                    </tr>
                                    {% for item in products %}
                                    <tr>
                                        <td class="sop-cart an-shop-cart">
                                            <a style="margin: -30" class="col-md-12 col-sm-12 col-xs-12" href="{{url_for('main.product', id = item)}}"><img class="primary-image" alt="" src="{{url_for('static', filename='img/products/10.jpg')}}"></a>
                                            <a class="col-md-12 col-sm-12 col-xs-12" href="{{url_for('main.product', id = item)}}">{{products.get(item)[0]}}</a>
                                        </td>
                                        <td class="sop-cart an-sh">
                                            <form action="/how_much" method="post">
                                                <input type="hidden" name="product_id" value="{{ item }}">
                                                <div class="tb-product-price font-noraure-3">
                                                    <span class="amount">Размер - {{products.get(item)[4]}}</span><br/>
                                                    Изменить размер:<br/>
                                                    <select id="size_change">
                                                        {% for i in sizes[item] %}
                                                        <option>{{i}}</option>
                                                        {% endfor %}
                                                    </select>                                                 
                                                </div>
                                                Количество:
                                                <div class="quantity ray">
                                                    <input class="input-text qty text" name = "quantity" type="number" size="4" title="Qty" value="{{products.get(item)[2]}}" min="0" step="1">
                                                </div> 
                                            </form>
                                        </td>
                                        <td class="sop-cart">
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount">{{products.get(item)[1]}}₽</span>
                                            </div>
                                        </td>
                                        <td class="cen">
                                            <span class="amount">{{products.get(item)[1]*products.get(item)[2]}}₽</span>
                                            <input type="hidden" name="product_id" value="{{ item }}">
                                        </td>
                                        <td class="sop-cart an-sh">
                                            <form action="/remove_from_cart" method="post">
                                                <input type="hidden" name="remove_from_cart">
                                                <input type="hidden" name="product_id" value="{{ item }}">
                                                <input type="hidden" name="size_id" value="{{ products.get(item)[4] }}">
                                                <button name ="remove"><span>x</span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="second-all-class">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="sub-total">
                                <table>
                                    <tbody>
                                        <tr class="order-total">
                                            <th>Итого:</th>
                                            <td>
                                                <strong>
                                                    <span class="amount">{{subtotal}}₽</span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="wc-proceed-to-checkout">
                                <a style="margin: 20 0" class="col-md-7 col-sm-12 col-xs-12 button wc-backward" href="{{url_for('main.shop')}}">Продолжить покупки</a>
                                <a style="margin: 20 0" class="col-md-4 col-sm-12 col-xs-12 wc-forward" href="{{url_for('main.checkout')}}">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="last-check1">
                        <div class="yith-wcwl-share yit">
                            <p class="checkout-coupon an-cop">
                                <input type="submit" value="Обновить данные товаров">
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
		<!-- shopping-cart  content section end -->
    {{super()}}
{% endblock %}
{% block scripts %}
    {{super()}}
{% endblock %}