{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {% block title %}{% endblock %}
    {{super()}}
{% endblock %}
{% block content %}
        <!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Магазин</h2>
                            <p><a href="{{url_for('main.index')}}">Главная</a> | Магазин</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- shop-style content section start -->
		<section class="pages products-page section-padding-top">
			<div class="container">
				<div class="row">
				    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="all-shop-sidebar">
                            <div class="top-shop-sidebar">
                                <h3 class="wg-title">СОРТИРОВКА</h3>
                            </div>
                            <form method="post">
                                <div class="shop-one">
                                    <h3 class="wg-title2">Темы</h3>
                                    <ul class="product-categories">
                                        {% for fandom in fandoms %}
                                            <input type="checkbox" name = "fandom" value='{{fandom.name}}'> {{fandom.name}}
                                            <span class="count">{{fandom.products|length}}</span><br>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="shop-one">
                                    <h3 class="wg-title2">Виды одежды</h3>
                                    <ul class="product-categories">
                                        {% for type in types %}
                                            <input type="checkbox" name = "type" value='{{type.name}}'> {{type.name}}
                                            <span class="count">{{type.products|length}}</span><br>
                                        {% endfor %}                                 
                                    </ul>
                                </div>
                                 <!--<div class="shop-one re-shop-one">
                                <h3 class="wg-title2">Выберите цвет</h3>
                                <ul class="product-categories">
                                    <li class="cat-item cat-item-11">
                                        <a href="#">Black</a>
                                        <span class="count">(1)</span>
                                    </li>
                                    <li class="cat-item cat-item-8">
                                        <a href="#">Orange</a>
                                        <span class="count">(1)</span>
                                    </li>
                                </ul>
                            </div>-->
                                <div class="shop-one re-shop-one">
                                    <h3 class="wg-title2">Выбрать по цене</h3>
                                    <div class="widget shop-filter">
                                        <div class="info_widget">
                                            <div class="price_filter">
                                                <div id="slider-range"></div>
                                                <div id="amount">
                                                    <input type="text" name="first_price" class="first_price" />
                                                    <input type="text" name="last_price" class="last_price"/>
                                                    <button class="button-shop" type="submit"><i class="fa fa-search search-icon"></i></button>
                                                </div>
                                            </div>
                                        </div>							
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 col-sm-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="features-tab">
                                  <!-- Nav tabs -->
                                    <div class="shop-all-tab">
                                        <div class="two-part">
                                            <ul class="nav tabs" role="tablist">
                                                <li class="vali">View as:</li>
                                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i></a></li>
                                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-align-justify"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="re-shop">
                                           <div class="sort-by">
                                                <div class="shop6">
                                                {{ wtf.quick_form(form2) }}  
                                                </div>
                                            </div>
                                            <div class="shop5">
                                                {{ wtf.quick_form(form1) }}      
                                            </div>
                                        </div>
                                    </div>
                                  <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="row">
                                                <div class="shop-tab">
                                                    {% for item in products.items %}
                                                    <div class="col-md-4 col-lg-4 col-sm-6">
                                                        <div class="single-product">
                                                            <div class="product-img">
                                                                <div class="pro-type">
                                                                    <span>new</span>
                                                                </div>
                                                                <a href="{{url_for('main.product', product_id = item.id)}}">
                                                                    <img src="{{url_for('static', filename='img/products/1.jpg')}}" alt="Product Title"/>
                                                                    <img class="secondary-image" alt="Product Title" src="{{url_for('static', filename='img/products/2.jpg')}}">
                                                                </a>
                                                            </div>
                                                            <div class="product-dsc">
                                                                <h3><a href="{{url_for('main.product', product_id = item.id)}}">{{item.product_name}}</a></h3>
                                                                <div class="star-price">
                                                                    <span class="price-left">{{item.price|round|int}}₽</span>
                                                                </div>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a href="#" data-placement="top" data-target="#quick-view" data-trigger="hover" data-toggle="modal" data-original-title="Quick View"><i class="fa fa-eye"></i></a>
                                                                <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Wishlist"><i class="fa fa-heart"></i></a>
                                                                <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Add To Cart">
                                                                    <form action="/add_to_cart" method="post">
                                                                        <input type="hidden" name="add_to_cart">
                                                                        <input type="hidden" name="product_id" value="{{ item.id }}">
                                                                        <input type="hidden" name="quantity" value="1">
                                                                        <button style="border: 0; background-color: inherit" data-toggle="tooltip" data-placement="top">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                        </button>
                                                                    </form>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
                                            <div class="row">
                                                {% for item in products.items %}
                                                <div class="li-item">
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="tb-product-item-inner tb2 pct-last">
                                                            <div class="pro-type">
                                                                <span>new</span>
                                                            </div>
                                                            <div class="re-img">
                                                                <a href="{{url_for('main.product', product_id = item.id)}}"><img alt="" src="{{url_for('static', filename='img/products/1.jpg')}}"></a>
                                                            </div>
                                                            <div class="actions-btn">
                                                                <a data-original-title="Quick View" data-toggle="modal" data-trigger="hover" data-target="#quick-view" data-placement="top" href="#">
                                                                <i class="fa fa-eye"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="f-fix">
                                                            <div class="tb-beg">
                                                                <a href="{{url_for('main.product', product_id = item.id)}}">{{item.name}}</a>
                                                            </div>
                                                            <div class="tb-product-wrap-price-rating">
                                                                <div class="tb-product-price font-noraure-3">
                                                                    <span class="amount2 ana">{{item.price|round|int}}₽</span>
                                                                </div>
                                                            </div>
                                                            <p class="desc">{{item.description}}</p>
                                                            <form action="/add_to_cart" method="post">
                                                                <div class="last-cart l-mrgn ns">
                                                                    <input type="hidden" name="product_id" value="{{ item.id }}">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button name = "atcart" class="fa fa-shopping-cart"><a href='{{ url_for(request.endpoint)}}'>Add To Cart</a></button>
                                                                </div>
                                                            </form>
                                                            <div class="tb-product-btn">
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>	
                                        </div>
                                    </div>
                                    <div class="shop-all-tab-cr shop-bottom">
                                        <div class="two-part">
                                            <div class="shop5 page">
                                                {% if products.has_prev or products.has_next %}
                                                <ul>
                                                    <li>
                                                        {% if products.has_prev %}<a href="{{ url_for('main.shop', page = products.prev_num) }}">Previous page</a>{% else %}Previous page{% endif %}
                                                        {% if products.has_next %}<a href="{{ url_for('main.shop', page = products.next_num) }}">Next page</a>{% else %}Next page{% endif %}
                                                    </li>
                                                </ul>
                                                {% endif %}     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<!-- shop-style content section end -->
            {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
<script type=text/javascript>
    const proxyurl = "https://cors-anywhere.herokuapp.com/"
    body = $("#howMany").click().val();
    function SendForm(method, url){
        const headers = {
            'Content-Type': 'application/json'
        }
        return fetch(proxyurl+url, {
            method: method,
            body: JSON.stringify(body),
            headers: headers
        }).then(response => {return response.text()})
    }

    SendForm('POST', 'http://localhost:5000/shop', body)
    .then(data => console.log(data))
</script>
{% endblock %}